/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 300;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color:#206F59; */
}
/* 
html, body{
  height: 100%;
} */

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.main-text {
  text-align: center;
  font-size: 18px;
  margin: 20px;
  padding-bottom: 10%;
}

.login-form {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 2px solid #206F59;
  border-radius: 45px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: aquamarine;

  border: 2px solid #206F59;       
  border-radius: 45px;          
  padding: 30px;               
  background-color: white;    
  width: 80%;
  height: 90%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
}

.login-form p {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.login-warning {
  color: rgba(0, 0, 0, 0.7);
}

.login-form input {
  width: 100%;
  height: 13%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: #e6e6e6;
  font-size: 14px;
}

.login-button {
  width: 120px;
  padding: 15px 0;
  border: none;
  border-radius: 50px;
  background-color: #206F59;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 15px;
  margin-top: 10px;
}

.curve {
  margin-top: 0px;
  color: #206F59;
}

.bottom {
  background-color: #206F59;
  color: #FFF;
  padding: 20px;
  text-align: center;
  margin-top: -2px
}

.logo {
  width: 60%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.bottom-text1, .bottom-text2 {
  color: #FFF;
  font-size: 14px;
  line-height: 1.4;
}

.bottom-text1 {
  font-weight: 500;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 90%;
    padding: 20px;
  }

  .login-button {
    width: 100%;
    font-size: 16px;
  }

  .bottom-text1, .bottom-text2 {
    font-size: 14px;
  }

  .main-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .login-form {
    border-radius: 25px;
    padding: 15px;
  }

  .login-button {
    font-size: 14px;
  }

  .main-text {
    font-size: 15px;
  }

  .bottom-text1, .bottom-text2 {
    font-size: 10px;
  }
}
